body{
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.a{ padding: 12px;
    margin-left: 440px;
    margin-top: 80px;
    height: max-content;
    width: fit-content;
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    border-radius: 12px;
    border: solid hsl(0, 0%, 7%);
    box-shadow: 4px 5px 6px hsl(0, 0%, 0%);
}
.p{
    font-size: 16px;
}
.l{ border-radius: 8px;
    margin-left: 3px;
    width: 30%;
    justify-content: left;
    background-color: hsl(47, 88%, 63%);
}
.i{ border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
h5{ margin-bottom: 3px;
    gap:5px;
    display: flex;
    align-items: center;
}
.b{ margin-left: 5px;
    margin-right: 2px; 
    border-radius: 12px;
}
